body {
	background-color: #fffcf6;
	width:  90%;
	margin: auto;
}

body div:not(nav-bar) {
	width: 90%;
	margin: auto;
}

#nav-bar {
	width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
	background-color: #1e396d;
	height: 20vh;
	min-height: 50px;
	max-height: 100px;
	text-align: right;
}

#nav-bar a {
	color: #ffffff;
	font-weight: bold;
	font-size: 140%;
	vertical-align: middle;
	padding-right: 20px;
	padding-top: 20px;
	display: inline-block;
	text-decoration: none;
}

#nav-bar a:first-of-type {
	padding-left: 10%;
	float: left;
}

#nav-bar a:last-of-type {
	padding-right: 10%;
}

#nav-bar a:hover {
	color: #dedede;
}

#about {
	padding-top: 20px;
	width: 70%;
	margin: auto;
}

.portrait {
	display: inline-block;
	border-radius: 50%;
	height: auto;
	width: 35%;
	background-color: #0f380b;
	object-fit: cover;
	margin-right: 10px;
}

#about .bio {
	width: 60%;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}

#languages {
	padding-top: 20px;
	padding-bottom: 20px;
}

#languages img {
	width:  75px;
	height:  75px;
	border-radius: 10%;
}

.proj {
	display: inline-block;
	width: 30%;
	height: 300px;
	perspective: 600px;
	margin: auto;
	text-align: center;
	position: relative;
	transition: transform 1s;
	transform-style: preserve-3d;
	backface-visibility: hidden;
}

.card {
	position: absolute;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
}

.card_front {
	background: #e8e8e8;
}

.card_front img {
	width:  100%;
	height: 65%;
	background-color: grey;
}

.card_back {
	background: #e8e8e8;
	transform: rotateY(180deg);
}

.proj:hover {
  transform: rotateY(180deg);
}

#experience {
	padding-top: 20px;
	text-align: center;
}

#experience div {
	padding-bottom: 20px;
}

#footer {
	text-align: center;
	max-width: 80%;
	margin: auto;
}

#footer img {
	height: 50px;
	width: 50px;
	border-radius: 20%;
	margin: 5px;
}

#footer img:hover {
	opacity: 0.8;
}
