body {
	font-family: "Exo 2";
}

#nav-bar {
	display: block;
	position: relative;
	background-color: #1e396d;
	font-weight: bold;
	font-size: 20px;
	color: #000;
	text-align: right;
	height: 50px;
}

#nav-bar a:first-of-type {
	float: left;
	margin-left: 10px;
}

#nav-bar a {
	display: inline-block;
	text-decoration: none;
	color: white;
	margin-top: 10px;
	margin-right: 10px;
}

#nav-bar a:hover {
	color: #dedede;
}

/*
.triangle {
	display: inline-block;
	overflow: hidden;
    border-right: 1px solid #fff; 
    border-bottom: 1px solid #fff;
    height: 36px;
    width: 36px;
    transform: rotate(-45deg);
}
*/

#home {
	display: block;
	text-align: center;
	max-width: 80%;
	margin: auto;
}

.portrait {
	border-radius: 50%;
	height: 150px;
	width: 150px;
	background-color: #0f380b;
	object-fit: cover;
}

#about {
	display: block;
	max-width: 80%;
	margin: auto;
}

#portfolio {
	max-width: 80%;
	margin: auto;
}

#experience {
	text-align: center;
	max-width: 80%;
	margin: auto;
}

#resume {
	max-width: 80%;
	margin: auto;
}

#socials {
	text-align: center;
	max-width: 80%;
	margin: auto;
}

#socials img {
	height: 50px;
	width: 50px;
	border-radius: 20%;
}

#socials img:hover {
	opacity: 0.9;
}
