 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/a55e03917c664df49acc3c4e77624c5975e9c5f9b65fe0545d660fea1484d6980e4d2c1642aa3f32106f51a491f9805872e69cacb64c286e4e9d2d_1280.jpg');
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  margin: 294px auto 0;
}

.u-section-1 .u-text-2 {
  width: 826px;
  margin: 32px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 41px;
  min-height: 16px;
  width: 143px;
  min-width: 68px;
  margin: 142px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 41px;
}

.u-section-1 .u-icon-2 {
  height: 41px;
}

.u-section-1 .u-icon-3 {
  height: 41px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}
